body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding-top: 0%;
}

.LargeText {
    font-size: 100px;
}

/* Setting the Z Index */

.zIndex {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.HeaderzIndex {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
}

.NavzIndex {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  margin-top: 3.1cm;
}

/* Fonts */

@font-face {
    font-family: name;
    src: url(Aboreto-Regular.ttf);
  }

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }


/* Formatting Middle Text Boxes */

.LuxuryText {
  padding-top: 1cm;
  background-color: rgb(228, 148, 0);
  color: white;
  text-align: center;
}

.SmallText {
  font-size: 30px;
  margin-inline: 4cm;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-bottom: 1cm;
  padding-top: 1cm;
}

/* Formatting Opacity Boxes */

.TextOpacity {
  opacity: 50%;
  background-color: black;
  color: white;
  position: absolute;
  top: 240px;
  width: 100%;
  padding-top: 0.3cm;
  padding-bottom: 0.3cm;
}

.TextOpacity1 {
  opacity: 50%;
  background-color: black;
  color: white;
  position: absolute;
  top: 330px;
  width: 100%;
  font-size: 15px;
  padding-top: 0.3cm;
  padding-bottom: 0.3cm;
}

.TextOpacity2 {
  opacity: 50%;
  background-color: black;
  color: white;
  position: absolute;
  top: 1700px;
  width: 100%;
  padding-top: 0.3cm;
  padding-bottom: 0.3cm;
}

.TextOpacity3 {
  opacity: 50%;
  background-color: black;
  color: white;
  position: absolute;
  top: 1790px;
  width: 100%;
  font-size: 15px;
  padding-top: 0.3cm;
  padding-bottom: 0.3cm;
}

.TextOpacity4 {
  opacity: 50%;
  background-color: black;
  color: white;
  position: absolute;
  top: 1690px;
  width: 100%;
  padding-top: 0.3cm;
  padding-bottom: 0.3cm;
}

.TextOpacity5 {
  opacity: 50%;
  background-color: black;
  color: white;
  position: absolute;
  top: 1780px;
  width: 100%;
  font-size: 15px;
  padding-top: 0.3cm;
  padding-bottom: 0.3cm;
}

.TextOpacity6 {
  opacity: 50%;
  background-color: black;
  color: white;
  position: absolute;
  top: 1480px;
  width: 100%;
  padding-top: 0.3cm;
  padding-bottom: 0.3cm;

}

.TextOpacity7 {
  opacity: 50%;
  background-color: black;
  color: white;
  position: absolute;
  top: 1430px;
  width: 100%;
  font-size: 15px;
  padding-top: 0.3cm;
  padding-bottom: 0.3cm;
}

.TextOpacity10 {
  opacity: 50%;
  background-color: black;
  color: white;
  position: absolute;
  top: 1780px;
  width: 100%;
  padding-top: 0.3cm;
  padding-bottom: 0.3cm;
}


.TextOpacity11 {
  opacity: 50%;
  background-color: black;
  color: white;
  position: absolute;
  top: 1870px;
  width: 100%;
  font-size: 15px;
  padding-top: 0.3cm;
  padding-bottom: 0.3cm;
}

.TextOpacity12 {
  opacity: 50%;
  background-color: black;
  color: white;
  position: absolute;
  top: 1270px;
  width: 100%;
  padding-top: 0.3cm;
  padding-bottom: 0.3cm;
}

.TextOpacity13 {
  opacity: 50%;
  background-color: black;
  color: white;
  position: absolute;
  top: 1360px;
  width: 100%;
  font-size: 15px;
  padding-top: 0.3cm;
  padding-bottom: 0.3cm;
}

.TextOpacity14 {
  opacity: 50%;
  background-color: black;
  color: white;
  position: absolute;
  top: 1520px;
  width: 46.041%;
  font-size: 15px;
  padding-top: 0.3cm;
  padding-bottom: 0.3cm;
}

.TextOpacity15 {
  opacity: 50%;
  background-color: black;
  color: white;
  position: absolute;
  top: 1430px;
  width: 46.041%;
  padding-top: 0.3cm;
  padding-bottom: 0.3cm;
  font-size: 1cm;
}

.TextOpacity16 {
  opacity: 50%;
  background-color: black;
  color: white;
  position: absolute;
  top: 1220px;
  width: 53.959%;
  padding-top: 0.3cm;
  padding-bottom: 0.3cm;
  font-size: 15px;
  right: 0cm;
}

.TextOpacity17 {
  opacity: 50%;
  background-color: black;
  color: white;
  position: absolute;
  top: 1280px;
  width: 53.959%;
  padding-top: 0.3cm;
  padding-bottom: 0.3cm;
  right: 0cm;
}

.TextOpacity18 {
  opacity: 50%;
  background-color: black;
  color: white;
  position: absolute;
  top: 1220px;
  width: 50%;
  padding-top: 0.3cm;
  padding-bottom: 0.3cm;
}

.TextOpacity19 {
  opacity: 50%;
  background-color: black;
  color: white;
  position: absolute;
  top: 1310px;
  width: 50%;
  padding-top: 0.3cm;
  padding-bottom: 0.3cm;
  font-size: 15px;
}

.TextOpacity20 {
  opacity: 50%;
  background-color: black;
  color: white;
  position: absolute;
  top: 1450px;
  width: 50%;
  padding-top: 0.3cm;
  padding-bottom: 0.3cm;
  right: 0cm;
}

.TextOpacity21 {
  opacity: 50%;
  background-color: black;
  color: white;
  position: absolute;
  top: 1400px;
  width: 50%;
  padding-top: 0.3cm;
  padding-bottom: 0.3cm;
  right: 0cm;
  font-size: 15px;
}



/* Indenting Text */

.LeftIndentedText
{
  padding-left: 2cm;
  width: 60%;
}

.LeftIndentedText1
{
  padding-left: 1.5cm;
}

.LeftIndentedText2
{
  padding-left: 1.5cm;
}

.LeftIndentedText3
{
  padding-left: 1.5cm;
}

.LeftIndentedText4
{
  padding-left: 1.5cm;
}

.LeftIndentedText5
{
  padding-left: 1.5cm;
}

.RightIndentedText1 {
  padding-right: 1.5cm;
  text-align: right;
}

.RightIndentedText2 {
  padding-right: 1.5cm;
  text-align: right;
}

.RightIndentedText3 {
  padding-right: 1.5cm;
  text-align: right;
}

.RightIndentedText4 {
  padding-right: 1.5cm;
  text-align: right;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
  .column1 {
    float: left;
    width: 72.613202%;
  }

  .column2 {
    float: left;
    width: 27.386798%;
  }

  .column3 {
    float: left;
    width: 50%;
  }

  .column4 {
    float: left;
    width: 50%;
  }

  .column5 {
    float: left;
    width: 54.5%;
  }

  .column6 {
    float: left;
    width: 45.5%;
  }

  .column7 {
    float: left;
    width: 46.041%;
  }

  .column8 {
    float: left;
    width: 53.959%;
  }
  
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }


/* Flexing */

.flex {
    display: flex;
}
  
/* Div in Div Styling */

.Layer2 {
    background-color: aqua;
    left: 100%;
}

.Layer3 {
    background-color: aqua;
    right: 100%;
}

/* Container holding the image and the text */

.container1 {
    text-align: center;
    color: white;
  }

.container2 {
    text-align: center;
    color: white;
  }

.container3 {
    text-align: center;
    color: white;
  }

/* Centered text */

.centered1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .centered2 {
    position: absolute;
    top: 1000px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .topright {
    position: absolute;
    top: 2300px;
    right: 16px;
    transform: translate(-50%, -50%);
  }

  .topright1 {
    position: absolute;
    top: 2350px;
    right: 5px;
    transform: translate(-50%, -50%);
  }

/* Logo Styling */

.Logo {
    height: 120px;
    width: 200px;
}

/* Style Header */

header {
    background-color: rgb(1, 1, 61);
    width: 100%;
    height: 4.4cm;
    opacity: 100%;
    color: white;
    font-family: name;
    font-size: 0.7cm;
    position: fixed;
}

header h1 {
    position: fixed;
    top: 0;
    left : 50%;
    transform: translate(-35%);
}

header img {
    width: 80px;
}

/* Main Styling */

main {
    background-color: white;
    color: black;
    font-family: name;
    font-size: 50px;
    margin: 0%;
    padding-top: 160px;
    width: 100%;
}

.Large {
    height: 100%;
    width: 100%;
}

/* Style Footer */

footer {
    background-color: rgb(1, 1, 61);
    color: white;
    height: 6cm;
    width: 100%;
    font-family: name;

}

footer h1 {
    position: sticky;
    left : 50%;
    transform: translate(-35%);
    }

footer p {
    left : 50%;
}

/* Style Nav */

nav {
    background-color: rgb(241, 241, 241);
    color: black;
    position: fixed;
}

nav {
    position: fixed;
    width: 100%;
    top: 110px;
    font-family: name;
    color: black;
}

nav ol {
    display: flex;
    justify-content: space-evenly;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
}

.ulS {
    list-style: none;
}

/* Anchor styling */

.ulliaS {
    margin-top: 3cm;
    text-decoration: none;
    color: white;
}

.ulSHeading {
    font-size: x-large;
    font-weight: bolder;
}

/* Style List for Footer */

.listContainer {
    display: flex;
    justify-content: space-around;
}

/* Style Bottom */

.Bottom {
    background-color: white;
    color: black;
    height: 1cm;
    margin-top: 1cm;
    font-weight: bolder;
    text-align: center;
}

/* Formatting About Us Page */

.QuickFinds {
  background-color: rgb(228, 148, 0);
  color: white;
  text-align: center;
  padding-top: 1.5cm;
  padding-bottom: 1.3cm;

}

.List {
  text-decoration: none;
  list-style: none;
  text-align: center;
  padding-top: 0.5cm;
  padding-bottom: 0.5cm;
  font-size: 8mm;
}

/* Table Formatting */

.TableHeading {
  font-size: 10mm;
}

.TableContent {
  font-size: 6mm;
}

.table {
  width:auto;
  align-content: center;
  padding-left: 1cm;
  padding-right: 1cm;
  padding-top: 1cm;
  background-color: rgb(228, 148, 0);
  color: white;
  padding-bottom: 1cm;
  
}

.Italic {
    font-style: italic;
}


table, th, td {
  border: 3px solid white;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}

/* Text box formatting */

.TextBox {
  background-color: white;
  color: rgb(1, 1, 61);
  text-align: center;
  padding-top: 1cm;
  padding-bottom: 0.3cm;
}

.TextBox1 {
  background-color: white;
  color: rgb(1, 1, 61);
  text-align: center;
  padding-bottom: 0.3cm;
  font-size: 6mm;
  padding-left: 2cm;
  padding-right: 2cm;
  line-height: 1cm;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.TextBox2 {
  color: white;
  background-color: rgb(228, 148, 0);
  text-align: center;
  padding-top: 1cm;
  padding-bottom: 0.3cm;
  font-family: name;
}

.TextBox3 {
  color: white;
  background-color: rgb(228, 148, 0);
  text-align: center;
  padding-bottom: 0.3cm;
  font-size: 6mm;
  padding-left: 2cm;
  padding-right: 2cm;
  line-height: 1cm;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.TextBox4 {
  background-color: white;
  color: rgb(1, 1, 61);
  text-align: center;
  padding-bottom: 0.3cm;
  font-size: 6mm;
  padding-left: 10cm;
  padding-right: 10cm;
  line-height: 1cm;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  align-items: center;
}

.TextBox5 {
  background-color: white;
  color: rgb(1, 1, 61);
  text-align: center;
  padding-bottom: 0.3cm;
  font-size: 6mm;
padding-left: 2cm ;
  line-height: 1cm;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: left;

}

.TextBox6 {
  background-color: rgb(228, 148, 0) ;
  color: white;
  text-align: center;
  padding-bottom: 1cm;
  font-size: 6mm;
  padding-left: 4cm ;
  padding-right: 4cm;
  line-height: 1cm;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: left;
  padding-top: 1cm;

}

/* Style the links inside the navigation bar */

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.Submit a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Style the search box inside the navigation bar */

.topnav input[type=text] {
  float: right;
  padding: 6px;
  height: 1cm;
  margin-right: 16px;
  font-size: 20px;
}

.SearchBar {
  font-family: name;
  font-size: 14px;
  font-weight: bolder;
  font-style: italic;
  background-color:rgb(241, 241, 241);
  border: 0cm;
}

.Submit {
  font-family: name;
  font-size: 14px;
  font-weight: bolder;
  background-color:rgb(1, 1, 61);
  color: white;
}